@using ISM_Final_Lahiye.Areas.Adminpanel.Models;

@model List<Cart>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Adminpanel/Views/Shared/_Layout.cshtml";
}

<h2>My Cart</h2>

@foreach (Cart cart in Model)
{
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-light">
                    Product info
                    <div class="card-actions">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6"> 
                            <div class="row">
                                <br />
                                <div class="col-md-3">
                                    <b>Name : </b>
                                </div> 
                                <div class="col-md-9">
                                    <span class="float-right">@cart.pro_name</span>
                                </div>  
                            </div>
                            <br />
                            <br />
                            <b>Brand : </b>
                            <span class="float-right">@cart.brand_name</span>
                            <br />
                            <br />
                            <b>Total Price : </b>
                            <span class="float-right">$ @cart.pro_price</span>
                            <br />
                            <br />
                            <b>Quantity : </b>
                            <span class="float-right">@cart.cart_product_quantity</span>
                            <br />
                            <br />
                            <b>Color : </b>
                            @if (cart.pro_color == "")
                            {
                                <span class="float-right">No color</span>
                            }
                            else
                            {
                                <span class="float-right" style="padding:10px;background-color:@cart.pro_color; border-radius:100%;"></span>
                            }
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Delete_cart", "Product", new { id = cart.cart_id })" class="btn btn-danger btn-sm btn-rounded">
                                        <i class="fa fa-trash" style="margin-right:10px;"></i>
                                        Remove
                                    </a>
                                    <br />
                                    <br />
                                </div>
                                <div class="col-md-6"> 
                                        <a href="javascript:void(0)" class="btn btn-outline-success btn-sm btn-rounded order_it_now" 
                                           data-user_id="@cart.cart_user_id"
                                           data-product_id="@cart.pro_id" 
                                           data-product_quantity="@cart.cart_product_quantity"
                                           data-total_price="@cart.pro_price"
                                           data-cart_id="@cart.cart_id"
                                           >
                                            <i class="fas fa-shopping-cart" style="margin-right:20px;"></i>
                                            Order it now
                                        </a>
                                        <br />
                                        <br /> 
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-4 col-sm-4  offset-md-2">
                            @if (cart.pro_img == "")
                            {
                                <img src="~/Uploads/no_image.png" width="100%" class="img-thumbnail" />
                            }
                            else
                            {
                                <img src="~/Uploads/@cart.pro_img" width="100%" class="img-thumbnail" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<div class="modal fade" id="ajax_error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info border-0">
                <h5 class="modal-title text-white">Database error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5">
                An error occurred with connecting database please try again 
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>