@using ISM_Final_Lahiye.Areas.Adminpanel.Models;

@model RoleAndUserVM

@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Adminpanel/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("Index", "RoleAndUser")" class="btn btn-warning"><i class="icon icon-action-undo"></i> Back</a>
<br />
<br />


<form action="@Url.Action("Insert", "RoleAndUser")" method="post">
    <div class="card">
        <div class="card-header bg-light">
            Users
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="single-select">Select a User :</label>
                        <select id="single-select" class="form-control" name="user_id">
                            @foreach (Users user in Model.users)
                            {
                                <option value="@user.user_id">@user.user_username</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4 offset-md-4">
                    <div class="form-group">
                        <div>
                            <label for="single-select"></label>
                        </div>
                        <input type="submit" class="btn btn-primary float-right" value="Add" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-light">
                    Roles
                </div>
                <div class="card-body">
                    @foreach (Role role in Model.roles) 
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="toggle-switch float-right" data-ts-color="primary">
                                    <label for="@role.role_id" class="ts-label">@role.role_name</label>
                                    <input id="@role.role_id" type="checkbox" hidden="hidden" name="role_id" value="@role.role_id">
                                    <label for="@role.role_id" class="ts-helper"></label>
                                </div>
                            </div>  
                        </div>
                        <hr> 
                    }
                </div>
            </div>
        </div>
    </div>
</form>



