@using ISM_Final_Lahiye.Areas.Adminpanel.Models

@model IEnumerable<Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Adminpanel/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header bg-light">
        Add New Role
    </div>
    <div class="card-body">
        <form action="@Url.Action("Insert", "Role")" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="normal-input" class="form-control-label">Role name :</label>
                        <input type="text" id="normal" class="form-control" name="role_name">
                    </div>
                </div>
                <div class="col-md-2 offset-md-6">
                    <div class="form-group">
                        <label class="form-control-label" style="color:transparent">hidden</label>
                        <input type="submit" class="form-control btn btn-success" value="Add">
                    </div>
                </div>
            </div>
        </form> 
        @if (TempData["error"] != null)
        {
            <label class="alert alert-danger">@TempData["error"]</label>
        } 
    </div>
</div>

    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> All Roles
        </div>
        <div class="card-body" id="role">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Role name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead> 
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.role_name</td>
                                <td>
                                    <a href="#" class="btn btn-danger btn-sm float-right activeAccount" data-toggle="modal" data-target="#delete_modal" data-id="@item.role_id">
                                    <i class="icon icon-trash"></i>   Delete
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Update", "Role", new { id = item.role_id })" class="btn btn-info btn-sm float-right "  >
                                    <i class="icon icon-pencil"></i>   Update
                                    </a>
                                </td>
                            </tr>
                        } 
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@* Delete modal*@
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger border-0">
                <h5 class="modal-title text-white"> Do you want delete this item ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5"> 

            </div>
            <div class="modal-footer border-0">
                <button id="delete_cancel" type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <a href="#" id="delete_link_a" class="btn btn-danger">
                    Delete 
                </a>
            </div>
        </div>
    </div>
</div>
 

